h1 {
	color: #052962;
	font-family: 'Open Sans', sans-serif;
	font-size: 75px;
}

h3 {
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 1.6;
}

 
